.pokemonInfo
    display: flex
    justify-content: center
    align-items: center

    padding-bottom: 30px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)

    background-color: white

    .pokemonCard
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        width: 200px
        // width: 80%
        
        .pokemonImage
            margin-bottom: -60px
            z-index: 2
            
        .pokemonLabel
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            width: 100%
            padding: 50px 0 5px 0
            border-radius: 10px
