.search
    background-color: white
    border-radius: 10px
    height: max-content
    margin: 13px 10px

    input 
        background-color: transparent
        width: 100%
        padding: 15px 20px
        color: #4c5c61
